In [ ]:
pip install --trusted-host pypi.org --trusted-host pypi.python.org --trusted-host files.pythonhosted.org <package_name>

let
    Fonte = Sql.Database("HOTH.FUNCEF.COM.BR\MSSQLDWPROD", "PBI_DIRIN"),
    PBI_DIRIN_FT_DADOS_CONTABEIS = Fonte{[Schema="PBI_DIRIN",Item="FT_DADOS_CONTABEIS"]}[Data],
    #"Linhas Filtradas" = Table.SelectRows(PBI_DIRIN_FT_DADOS_CONTABEIS, each ([SK_CARTEIRA] = 494))
in
    #"Linhas Filtradas"

In [1]:
from sqlalchemy import create_engine

import pandas as pd

In [2]:
import pyodbc

print(pyodbc.drivers())

['SQL Server', 'Tibero 6 ODBC Driver', 'ODBC Driver 18 for SQL Server', 'Microsoft Access Driver (*.mdb, *.accdb)', 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)', 'Microsoft Access Text Driver (*.txt, *.csv)', 'Microsoft Access dBASE Driver (*.dbf, *.ndx, *.mdx)']

In [3]:
import pandas as pd
from sqlalchemy import create_engine

# Defina os detalhes da conexão
username = 'eduardomoreira@funcef.com.br'
password = ''
server = 'HOTH.FUNCEF.COM.BR\\MSSQLDWPROD'
database = 'PBI_DIRIN'
driver = 'ODBC Driver 18 for SQL Server'  # Ajuste o nome do driver conforme necessário

# Crie a URL da conexão
# connection_string = f'mssql+pyodbc://{username}:{password}@{server}/{database}?driver={driver.replace(" ", "+")}'
conexao = 'mssql+pyodbc://HOTH\\MSSQLDWPROD/PBI_DIRIN?driver=SQL+Server'

# Crie o motor de conexão
engine = create_engine(conexao)

# Defina a consulta SQL
consulta_sql_FIMs = """
SELECT *
FROM PBI_DIRIN.FT_ATIVOS_MOBILIARIOS
WHERE SK_CARTEIRA = 494
"""

# Defina a consulta SQL
consulta_sql_SIRIUS = """
SELECT *
FROM PBI_DIRIN.FT_DADOS_CONTABEIS
WHERE SK_CARTEIRA = 494
"""


# consulta_sql = "SELECT DT_POSICAO,CD_CARTEIRA AS CODIGO_FUNDO, DS_CARTEIRA AS NOME_FUNDO, FT.SK_CARTEIRA, SUM(VL_PL_FUNDO) AS VL_PL_FUNDO, SUM(VL_QTDE_COTAS) AS VL_QTDE_COTAS#(lf)FROM PBI_DIRIN.FT_DADOS_CONTABEIS FT#(lf)LEFT JOIN PBI_DIRIN.DM_CARTEIRA DM ON(FT.SK_CARTEIRA = DM.SK_CARTEIRA)#(lf)WHERE DS_GESTOR_INTERNO IN('COMEX','COMEC','GEVAR')#(lf)GROUP BY DT_POSICAO, FT.SK_CARTEIRA, CD_CARTEIRA, DS_CARTEIRA"

In [4]:
# Execute a consulta e armazene os resultados em um DataFrame
dados_sirius = pd.read_sql(consulta_sql_SIRIUS, engine)

# Exiba as últimas 2 linhas do DataFrame
dados_sirius.tail(2)

,SK_CARTEIRA,SK_PLANO_BENEFICIO,DT_POSICAO,FL_PARTICIPACAO_FUNCEF,VL_PL_FUNDO,VL_CONTAS_RECEBER,VL_CONTAS_PAGAR,VL_COTAS,VL_QTDE_COTAS
834,494,19,2025-02-20,1,1.768916e+09,618.830197,-65901.213371,129.758945,1.270305e+07
835,494,23,2025-02-20,1,1.294030e+08,45.269803,-4820.926629,9.492365,9.292769e+05

In [5]:
dados_sirius.sort_values(by='DT_POSICAO').tail(5)

,SK_CARTEIRA,SK_PLANO_BENEFICIO,DT_POSICAO,FL_PARTICIPACAO_FUNCEF,VL_PL_FUNDO,VL_CONTAS_RECEBER,VL_CONTAS_PAGAR,VL_COTAS,VL_QTDE_COTAS
743,494,23,2025-04-02,1,1.256520e+08,67.175998,-8159.879678,9.217206,9.292769e+05
740,494,19,2025-04-03,1,1.717636e+09,894.745904,-115965.713112,125.997281,1.270305e+07
741,494,23,2025-04-03,1,1.256517e+08,65.454096,-8483.336888,9.217185,9.292769e+05
738,494,19,2025-04-04,1,1.681035e+09,871.198488,-120329.188168,123.312422,1.270305e+07
739,494,23,2025-04-04,1,1.229742e+08,63.731512,-8802.541832,9.020777,9.292769e+05

In [6]:
# Execute a consulta e armazene os resultados em um DataFrame
dados_fims = pd.read_sql(consulta_sql_FIMs, engine)

# Exiba as últimas 2 linhas do DataFrame
dados_fims.sort_values(by = 'DT_POSICAO').tail(4)

,SK_CARTEIRA,SK_CONTRAPARTE,SK_PLANO_BENEFICIO,DT_POSICAO,DS_TIPO_PAPEL,CD_OPERACAO,CD_PAPEL,DS_PAPEL,DS_TITULO,DS_INDEXADOR,...,FL_TIPO_MARCACAO,DS_TIPO_RV,VL_QTDE,VL_MERCADO_ANTERIOR,VL_MERCADO,VL_COMPRAS,VL_VENDAS,VL_PU_CUSTOS,VL_PU_ATUAL,VL_PU_CURVAS
4237,494,1241,19,2025-04-04,Caixa,None,None,CAIXA,Saldo Tesouraria,None,...,None,None,1.863666e+03,0.0,1.863666e+03,0.0,0.0,0.0,0.000000,0.0
4247,494,1781,23,2025-04-04,Cotas,FRANKFUR,FRANKFUR,Cotas,FRANKFURT FIM IE,None,...,None,None,2.327937e+06,0.0,3.102918e+07,0.0,0.0,0.0,13.329047,0.0
4240,494,1779,19,2025-04-04,Cotas,SYDNEY,SYDNEY,Cotas,SYDNEY FIM IE,None,...,None,None,3.211437e+08,0.0,4.140867e+08,0.0,0.0,0.0,1.289413,0.0
4246,494,1779,23,2025-04-04,Cotas,SYDNEY,SYDNEY,Cotas,SYDNEY FIM IE,None,...,None,None,2.349289e+07,0.0,3.029203e+07,0.0,0.0,0.0,1.289413,0.0

In [7]:
dados_fims.loc[dados_fims['SK_PLANO_BENEFICIO'] == 19].sort_values(by = 'DT_POSICAO')

,SK_CARTEIRA,SK_CONTRAPARTE,SK_PLANO_BENEFICIO,DT_POSICAO,DS_TIPO_PAPEL,CD_OPERACAO,CD_PAPEL,DS_PAPEL,DS_TITULO,DS_INDEXADOR,...,FL_TIPO_MARCACAO,DS_TIPO_RV,VL_QTDE,VL_MERCADO_ANTERIOR,VL_MERCADO,VL_COMPRAS,VL_VENDAS,VL_PU_CUSTOS,VL_PU_ATUAL,VL_PU_CURVAS
17,494,1335,19,2023-07-21,Título Público,L366246,10800561,NTN-O,NTN-O_PRE,PRE,...,N,None,9.609900e+04,0.0,4.009980e+08,4.009980e+08,0.0,4172.759342,4172.759342,4172.759342
16,494,1241,19,2023-07-21,Caixa,None,None,CAIXA,Saldo Tesouraria,None,...,None,None,2.000000e+03,0.0,2.000000e+03,0.000000e+00,0.0,0.000000,0.000000,0.000000
180,494,1241,19,2023-07-24,Caixa,None,None,CAIXA,Saldo Tesouraria,None,...,None,None,2.000000e+03,0.0,2.000000e+03,0.000000e+00,0.0,0.000000,0.000000,0.000000
181,494,1335,19,2023-07-24,Título Público,L370447,10804201,LTN-O,LTN-O_PRE,PRE,...,N,None,5.162190e+05,0.0,4.012015e+08,4.012015e+08,0.0,777.192469,777.192469,777.192469
234,494,1241,19,2023-07-25,Caixa,None,None,CAIXA,Saldo Tesouraria,None,...,None,None,2.000000e+03,0.0,2.000000e+03,0.000000e+00,0.0,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4241,494,1781,19,2025-04-04,Cotas,FRANKFUR,FRANKFUR,Cotas,FRANKFURT FIM IE,None,...,None,None,3.182249e+07,0.0,4.241635e+08,0.000000e+00,0.0,0.000000,13.329047,0.000000
4240,494,1779,19,2025-04-04,Cotas,SYDNEY,SYDNEY,Cotas,SYDNEY FIM IE,None,...,None,None,3.211437e+08,0.0,4.140867e+08,0.000000e+00,0.0,0.000000,1.289413,0.000000
4239,494,1782,19,2025-04-04,Cotas,JOHANNE,JOHANNE,Cotas,JOHANNESBURG FIM IE,None,...,None,None,3.178986e+08,0.0,4.362318e+08,0.000000e+00,0.0,0.000000,1.372236,0.000000
4238,494,1335,19,2025-04-04,Título Público,M836783,11905261,LTN-O,LTN-O_PRE,PRE,...,N,None,9.346283e+02,0.0,6.858845e+05,6.858845e+05,0.0,733.858066,733.858066,733.858066
4237,494,1241,19,2025-04-04,Caixa,None,None,CAIXA,Saldo Tesouraria,None,...,None,None,1.863666e+03,0.0,1.863666e+03,0.000000e+00,0.0,0.000000,0.000000,0.000000

In [8]:
# df_fims = dados_fims.groupby(by = ["DT_POSICAO","CD_PAPEL"]).sum(['VL_MERCADO','VL_QTDE'])
df_fims = dados_fims.loc[dados_fims['SK_PLANO_BENEFICIO'] == 19].sort_values(by = 'DT_POSICAO')
df_fims.tail(10)

,SK_CARTEIRA,SK_CONTRAPARTE,SK_PLANO_BENEFICIO,DT_POSICAO,DS_TIPO_PAPEL,CD_OPERACAO,CD_PAPEL,DS_PAPEL,DS_TITULO,DS_INDEXADOR,...,FL_TIPO_MARCACAO,DS_TIPO_RV,VL_QTDE,VL_MERCADO_ANTERIOR,VL_MERCADO,VL_COMPRAS,VL_VENDAS,VL_PU_CUSTOS,VL_PU_ATUAL,VL_PU_CURVAS
4947,494,1781,19,2025-04-03,Cotas,FRANKFUR,FRANKFUR,Cotas,FRANKFURT FIM IE,None,...,None,None,3.182249e+07,0.0,4.355193e+08,0.00000,0.0,0.000000,13.685895,0.000000
4946,494,1782,19,2025-04-03,Cotas,JOHANNE,JOHANNE,Cotas,JOHANNESBURG FIM IE,None,...,None,None,3.178986e+08,0.0,4.455122e+08,0.00000,0.0,0.000000,1.401429,0.000000
4945,494,1335,19,2025-04-03,Título Público,M832456,11902167,NTN-O,NTN-O_PRE,PRE,...,N,None,1.621389e+02,0.0,6.855252e+05,685525.15451,0.0,4228.011207,4228.011207,4228.011207
4949,494,1779,19,2025-04-03,Cotas,SYDNEY,SYDNEY,Cotas,SYDNEY FIM IE,None,...,None,None,3.211437e+08,0.0,4.231003e+08,0.00000,0.0,0.000000,1.317480,0.000000
4242,494,1780,19,2025-04-04,Cotas,AUSTIN,AUSTIN,Cotas,AUSTIN FIM IE,None,...,None,None,3.172820e+08,0.0,4.059850e+08,0.00000,0.0,0.000000,1.279572,0.000000
4241,494,1781,19,2025-04-04,Cotas,FRANKFUR,FRANKFUR,Cotas,FRANKFURT FIM IE,None,...,None,None,3.182249e+07,0.0,4.241635e+08,0.00000,0.0,0.000000,13.329047,0.000000
4240,494,1779,19,2025-04-04,Cotas,SYDNEY,SYDNEY,Cotas,SYDNEY FIM IE,None,...,None,None,3.211437e+08,0.0,4.140867e+08,0.00000,0.0,0.000000,1.289413,0.000000
4239,494,1782,19,2025-04-04,Cotas,JOHANNE,JOHANNE,Cotas,JOHANNESBURG FIM IE,None,...,None,None,3.178986e+08,0.0,4.362318e+08,0.00000,0.0,0.000000,1.372236,0.000000
4238,494,1335,19,2025-04-04,Título Público,M836783,11905261,LTN-O,LTN-O_PRE,PRE,...,N,None,9.346283e+02,0.0,6.858845e+05,685884.54380,0.0,733.858066,733.858066,733.858066
4237,494,1241,19,2025-04-04,Caixa,None,None,CAIXA,Saldo Tesouraria,None,...,None,None,1.863666e+03,0.0,1.863666e+03,0.00000,0.0,0.000000,0.000000,0.000000

In [9]:
df_fims.index = df_fims['DT_POSICAO']

df = df_fims[['CD_PAPEL','VL_MERCADO','VL_QTDE','VL_PU_ATUAL']]

df = df.loc[df['CD_PAPEL'].isin(['AUSTIN','FRANKFUR','JOHANNE','SYDNEY'])]

df_cota = df.pivot_table(values=['VL_PU_ATUAL'],columns=['CD_PAPEL'],index=df.index)

df_cota = df_cota['VL_PU_ATUAL']

df_cota.tail(4)

CD_PAPEL      AUSTIN   FRANKFUR   JOHANNE    SYDNEY
DT_POSICAO
2025-04-01  1.297477  13.648804  1.396953  1.314428
2025-04-02  1.301467  13.685895  1.401429  1.317480
2025-04-03  1.301467  13.685895  1.401429  1.317480
2025-04-04  1.279572  13.329047  1.372236  1.289413